body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

body > canvas, body > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    margin: 0 auto;
}
#dataCanvas {
    display: none;
}
#drawCanvas {
    z-index: 1;
}
video {
    display: none;
}