/**
 * fonts
 */
@font-face {
    font-family: 'OCRF-Bold';
    src: url('fonts/OCRF-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'OCRF-Regular';
    src: url('fonts/OCRF-Regular.otf') format('opentype');
}

body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    font: 12px 'OCRF-Regular',Helvetica,sans-serif;
}

h1,h2 {
    font-family: 'OCRF-Bold',Helvetica,sans-serif;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h1 {
    font-size: 49px;
}
h2 {
    font-size: 30px;
    margin: 0 30px;
}

body > canvas, body > .maps {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0 auto;
}
body > div {
    width: 100%;
    height: 100%;
}
#dataCanvas {
    display: none;
}
#drawCanvas {
    position:absolute;
    top:50%;
    left: 50%;
    z-index: 0;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
video {
    display: none;
}

.mode {
    width: 130px;
    height: 105px;
    background: url('img/mode.png') no-repeat -140px -25px;
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 10;
    margin-left: -65px;
}

.spray {
    background-position: -10px -25px;
}

.centered {
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.screen.calibrate {
    color: #ffffff;
    background: black;
}
.fixPoints {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.fixPoint {
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: absolute;
    border: 0;
}
.fixPoint.tl {
    left: 0;
    top: 0;
}
.fixPoint.tr {
    right: 0;
    top: 0;
}
.fixPoint.br {
    bottom: 0;
    right: 0;
}
.fixPoint.bl {
    bottom: 0;
    left: 0;
}

.screen {
    width: 100%;
    height: 100%;
    background: #00fbba;
    position: fixed;
    z-index: 11;
    text-align: center;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.5s;
}
.hide {
    opacity: 0;
}
.screen p {
    font-size: 36px;
    width: 800px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.3em;
}
.screen > .wrapper > img {
    width: 500px;
}
.screen.finish p {
    width: 100%;
    margin: 200px 0;
}
.screen.finish h2 {
    margin-top: 100px;
    width: 700px;
    margin: 0 auto;
}
.instructions {
    list-style: none;
    overflow: hidden;
    padding: 0;
    width: 1000px;
    margin: 100px auto 0;
}
.instructions li {
    float: left;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 50px;
}
.instructions img {
    display: block;
    margin-top: 20px;
}

.info {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background: #00fbba;
    z-index: 100;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}