@import url(http://fonts.googleapis.com/css?family=Cousine);

body,html {
    margin: 0 0 20px;
    padding: 0;
}

body {
    background-color: #342f31;
    color: #EEEEEE;
    font-family: 'Cousine', sans-serif;
}

a,a:link,a:hover,a:visited {
    color: inherit;
    text-decoration: none;
}

header,section,footer {
    max-width: 980px;
    margin: 0 auto;
}

header {
    margin-bottom: 15px;
    text-align: center;
}
header img {
    width: 100px;
}

footer {
    margin: 40px auto 0;
    clear: both;
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
}

section {
    overflow: hidden;
    position: relative;
}

section > a {
    width: 307px;
    height: auto;
    float: left;
    margin: 0 3% 4% 0;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

section > a:nth-child(3n+1) {
    clear: both;
}

section > a:nth-child(3n) {
    margin-right: 0;
}
section > a > img {
    width: 100%;
    height: auto;
}
section > a > div {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.3px;
    margin: 7px 0 0;
    width: 100%;
}

